<div class="header">
	<div class="row">
		<div class="col-4">
			<img src="<%- process.cwd() + '/src/views/img/logo.jpg' %>" alt="logo" />
		</div>
		<div class="col-8" style="text-align: right">
			<h3>awefwaf s.r.o.</h3>
			<p style="margin:0">awefawef</p>
			<p style="margin:0">Rawefwaefwaefwaf</p>
		</div>
	</div>
</div>
